<include file="public/header" />
<div class="main">
	<div class="menu"><i></i><span>搜索"{$str}"</span></div>
	<if condition="$search">
	<ul class="news">	
	<foreach name="search" item="v">
	<li>
	<a href="{:U('/'.MODULE_NAME.'/article/shows',array('id'=>$v['id'],'spread'=>session('userID')))}">{$v.title|msubstr=###,0,15,'utf-8',false}</a>
	<span style="float:right;color:#666;">[{$v.time|date='Y-m-d',###}]</span>
	</li>
	</foreach>
	</ul>
	<div class="page">{$page}</div>
	<else />
    <div class="show_c">暂无搜索结果！</div>
	</if>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>