<div style="height:76px; background:#eee;"></div>
<div class="bottom">
	<div class="fdh">
	<a href="/index.php/Index/index/index/spread/{$Think.session.userID}">
	<if condition="CONTROLLER_NAME eq 'Index'">
	<img src="__PUBLIC__/images/sy1.png">
	<p class="hover">首页</p>
	<else />
	<img src="__PUBLIC__/images/sy.png">
	<p>首页</p>
	</if>
	</a>
	</div>
	<div class="fdh">
	<a href="/index.php/Index/article/index/id/2/spread/{$Think.session.userID}">
	<if condition="CONTROLLER_NAME eq 'Article' && $cid neq 1">
	<img src="__PUBLIC__/images/kc1.png">
	<p class="hover">资料</p>
	<else />
	<img src="__PUBLIC__/images/kc.png">
	<p>资料</p>
	</if>
	</a>
	</div>
	<div class="fdh">
	<a href="/index.php/Index/goods/index/id/3/spread/{$Think.session.userID}">
	<if condition="CONTROLLER_NAME eq 'goods'">
	<img src="__PUBLIC__/images/sc1.png">
	<p class="hover">商城</p>
	<else />
	<img src="__PUBLIC__/images/sc.png">
	<p>商城</p>
	</if>
	</a>
	</div>
	<div class="fdh">
	<a href="/index.php/Index/article/index/id/1/spread/{$Think.session.userID}">
	<if condition="$cid eq 1">
	<img src="__PUBLIC__/images/xm1.png">
	<p class="hover">查询</p>
	<else />
	<img src="__PUBLIC__/images/xm.png">
	<p>查询</p>
	</if>
	</a>
	</div>
	<div class="fdh">
	<a href="/index.php/Index/member/index/spread/{$Think.session.userID}">
	<if condition="CONTROLLER_NAME eq 'Member'">
	<img src="__PUBLIC__/images/me1.png">
	<p class="hover">我的</p>
	<else />
	<img src="__PUBLIC__/images/me.png">
	<p>我的</p>
	</if>
	</a>
	</div>
</div>