<include file="Public:common" />
<title>添加{$str}栏目</title>
<!--file upload-->
<script type="text/javascript" src="__PUBLIC__/Js/cate.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userdefind.css" />
</head>

<body class="sticky-header">
<include file="Public:header" />
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                设置网站栏目
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li class="active"> 栏目管理 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            添加{$str}栏目
							
							<span class="tools pull-right">
                                <a class="fa fa-rotate-left" href="javascript:history.go(-1)"> 返回</a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <form class="cmxform form-horizontal adminex-form" method="post" action="{:U(MODULE_NAME.'/Cate/addCateHandle')}">
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">栏目名称</label>
                                        <div class="col-lg-3">
                                            <input class=" form-control" id="firstname" name="name" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="lastname" class="control-label col-lg-2">栏目英文名</label>
                                        <div class="col-lg-3">
                                            <input class=" form-control" id="lastname" name="en" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="username" class="control-label col-lg-2">栏目图片</label>
                                        <div class="col-lg-6">
                                            <a class="btn btn-primary upimgs" id="btn">选择图片</a> 最大2M，支持jpg，gif，png格式。
											 <dl id="ul_pics" class="ul_pics clearfix"><dd id='slt'></dd></dl>
											 <input name="pic" id="picsa" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">栏目关键字</label>
                                        <div class="col-lg-6">
                                            <input class="form-control " id="password" name="keywords" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="confirm_password" class="control-label col-lg-2">栏目描述</label>
                                        <div class="col-lg-6">
                                            <input class="form-control " id="confirm_password" name="description" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="email" class="control-label col-lg-2">栏目模型</label>
                                        <div class="col-lg-2">
                                            <select class="form-control" name="model" onchange="ModuleTypeChange($(this).val());">
												<option value="Article">文章模型</option>
												<option value="Info">单页模型</option>
												<option value="Atlas">图集模型</option>
												<option value="Goods">产品模型</option>
												<option value="Jobs">招聘模型</option>
												<option value="Slink">转向链接</option>
												<option value="Gbook">留言板模型</option>
											</select>
                                        </div>
                                    </div>
									<div class="form-group m_Url" style="display:none;">
                                        <label for="email" class="control-label col-lg-2">跳转地址</label>
                                        <div class="col-lg-3">
                                            <input class="form-control " id="email" name="link" type="text" />
                                        </div>
                                    </div>
									<div class="form-group ">
                                        <label for="email" class="control-label col-lg-2">是否导航显示</label>
                                        <div class="col-lg-3">
                                            <label class="checkbox-inline"><input name="stauts" type="radio" value="0" checked="checked"/>&nbsp;显示&nbsp;&nbsp;
											<input name="stauts" type="radio" value="1" />&nbsp;不显示</label>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">排序</label>
                                        <div class="col-lg-2">
                                           <input type="text" class="form-control " name="sort" value="100">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
										<input type="hidden" name="pid" value="{$pid}">
                                            <input class="btn btn-primary" type="submit" value="保&nbsp;&nbsp;存">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

<include file="Public:bottom" />
<script>var app="__ROOT__";</script>
<script type="text/javascript" src="__PUBLIC__/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/upload.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>

<!--pickers plugins-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__PUBLIC__/js/pickers-init.js"></script>


<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

</body>
</html>
