<include file="Public:common" />
  <title>内容管理</title>
  <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<!--tree-->
<script src="__PUBLIC__/js/jquery.ztree.core-3.5.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Css/zTreeStyle/metro.css" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userdefind.css" />
<style type="text/css">
 .del{
	display:inline-block;
	color:blue;
	text-align: center;
	cursor: pointer; 
 }
</style>
<!--pickers css-->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-datepicker/css/datepicker-custom.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-timepicker/css/timepicker.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-colorpicker/css/colorpicker.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
<script type="text/javascript">
	window.UEDITOR_HOME_URL = "__ROOT__/Data/ueditor/";
	window.onload = function (){
	//window.UEDITOR_CONFIG.initialFrameWidth = 1000; 初始化编辑器宽度,默认1000
	window.UEDITOR_CONFIG.initialFrameHeight = 500; //初始化编辑器高度,默认320
		UE.getEditor('content',{ initialFrameWidth: null });
	}
</script>
<js file="__ROOT__/Data/ueditor/ueditor.config.js" />
<js file="__ROOT__/Data/ueditor/ueditor.all.min.js" />
</head>

<body class="sticky-header left-side-collapsed">
<include file="Public:header" />
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="mail-box">
                {:W('Menu/mau')}
                <section class="mail-box-info">
                   <div class="col-sm-12">
					<section class="panel">
					<header class="panel-heading">
						{$cate['name']}<span class="text-muted">——发布产品</span>
						<span class="tools pull-right">
							<a class="fa fa-rotate-left" href="{:U(MODULE_NAME.'/Goods/index',array('id' =>$cid))}"> 返回</a>
						 </span>
					</header>
					<div class="panel-body">
						<div class="form">
							<form class="cmxform form-horizontal adminex-form" method="post" action="{:U(MODULE_NAME.'/Goods/runAdd')}">
								<div class="form-group ">
									<label for="firstname" class="control-label col-lg-1">产品标题</label>
									<div class="col-lg-6">
										<input class=" form-control" id="firstname" name="title" type="text"/>
									</div>
								</div>
								<div class="form-group ">
									<label for="username" class="control-label col-lg-1">题图</label>
									<div class="col-lg-6">
										<a class="btn btn-primary upimgs" id="btn">选择图片</a> 最大2M，支持jpg，gif，png格式。
										 <dl id="ul_pics" class="ul_pics clearfix"><dd id='slt'></dd></dl>
										 <input name="pic" id="picsa" style="display: none;">
									</div>
								</div>
								<div class="form-group ">
									<label for="lastname" class="control-label col-lg-1">产品关键字</label>
									<div class="col-lg-6">
										<input class=" form-control" id="lastname" name="keywords" type="text"/>
									</div>
								</div>
								<div class="form-group ">
									<label for="lastname" class="control-label col-lg-1">产品描述</label>
									<div class="col-lg-6">
										<input class=" form-control" id="lastname" name="description" type="text"/>
									</div>
								</div>
								<div class="form-group ">
									<label for="username" class="control-label col-lg-1">图集</label>
									<div class="col-lg-6">
										<a class="btn btn-primary upimgs" class="upimgs" id="bte">选择图片</a> 最大2M，支持jpg，gif，png格式。按CTRL多选(一次最多传30张)
										<dl id="ul_pic" class="ul_pic clearfix"></dl>
									</div>
								</div>
								<div class="form-group ">
									<label for="password" class="control-label col-lg-1">分类</label>
									<div class="col-lg-2">
										<select class=" form-control" name="aid">
											<foreach name='attr' item='v'>
											<option value="{$v.id}">{$v.classname}</option>
											</foreach>
										</select>
									</div>
									<label for="confirm_password" class="control-label col-lg-1">品牌</label>
									<div class="col-lg-2">
										<input class="form-control " type="text" name="brand" />
									</div>
									<label for="confirm_password" class="control-label col-lg-1">计数单位</label>
									<div class="col-lg-2">
										<input class="form-control " type="text" name="unit" />
									</div>
									<label for="email" class="control-label col-lg-1">库存量</label>
									<div class="col-lg-2">
										<input class="form-control" type="text" name="stock">
									</div>
								</div>
								<div class="form-group ">
									<label for="confirm_password" class="control-label col-lg-1">重量</label>
									<div class="col-lg-2">
									<div class="input-group">
										<input class="form-control" type="text" name="weight" />
										<span class="input-group-addon ">kg</span>
									</div>
									</div>
									<label for="confirm_password" class="control-label col-lg-1">单价</label>
									<div class="col-lg-2">
									<div class="input-group">
										<input class="form-control " type="text" name="price" />
										<span class="input-group-addon ">元</span>
									</div>
									</div>
									<label for="confirm_password" class="control-label col-lg-1">优惠价</label>
									<div class="col-lg-2">
									<div class="input-group">
										<input class="form-control " type="text" name="memprice" />
										<span class="input-group-addon ">元</span>										
									</div>
									<span class="help-block">勾选特价才能生效</span>
									</div>
									<label for="confirm_password" class="control-label col-lg-1">特价</label>
									<div class="col-lg-2">
									<label class="checkbox-inline">
										<input type="radio" name="isdis" checked="true" value="0">否&nbsp;&nbsp;<input type="radio" name="isdis" value="1">是</label>
									</div>
								</div>
								<div class="form-group ">
									<label for="confirm_password" class="control-label col-lg-1">精品</label>
									<div class="col-lg-2">
									<label class="checkbox-inline">
										<input type="radio" name="isref" checked="true" value="0">否&nbsp;&nbsp;<input type="radio" name="isref" value="1">是	
									</label>
									</div>
									<label for="confirm_password" class="control-label col-lg-1">热卖</label>
									<div class="col-lg-2">
									<label class="checkbox-inline">
									<input type="radio" name="ishot" checked="true" value="0">否&nbsp;&nbsp;<input type="radio" name="ishot" value="1">是</label>
									</div>
									<label for="email" class="control-label col-lg-1">发布时间</label>
									<div class="col-lg-2">
										<div data-date-viewmode="years" data-date-format="yyyy-mm-dd" data-date="{$v.time|default=time()|date='Y-m-d H:i:s',###}"  class="input-append date dpYears" style="width:200px;">
										  <input type="text" name="time" readonly="" value="{$v.time|default=time()|date='Y-m-d H:i:s',###}" size="16" class="form-control">
														<span class="input-group-btn add-on">
														  <button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
														</span>
										</div>                                            
									</div>
								</div>
								<div class="form-group">
									<label for="email" class="control-label col-lg-1">产品内容</label>
									<div class="col-lg-10">
										<textarea name="content" id="content"></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-lg-offset-1 col-lg-10">
									<input type="hidden" name="cid" value="{$cid}">
										<input class="btn btn-primary" type="submit" value="保&nbsp;&nbsp;存">
									</div>
								</div>
							</form>
						</div>
					</div>
					</section>
					</div>
                </section>
            </div>

        </div>
        <!--body wrapper end-->

<include file="Public:bottom" />
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>
<!--pickers plugins-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript">
  $('.date-picker').datepicker({
      language: 'zh-CN',
      autoclose: true,
      todayHighlight: true
  })
</script>
<!--pickers initialization-->
<script src="__PUBLIC__/js/pickers-init.js"></script>

<script type="text/javascript" src="__PUBLIC__/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/upload.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>
</body>
</html>
