<include file="Public:common" />
<title>会员管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userdefind.css" />
</head>

<body class="sticky-header">
<include file="Public:header" />
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                会员管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li class="active"> 会员管理 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                           会员管理
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
								<div class="space15"></div>
								<table class="table table-bordered table-striped dataTable">
								
								<thead>								
								<tr role="row">
									<th>ID</th>
									<th>微信id</th>
									<th>昵称</th>
									<th>头像</th>
									<th>注册日期</th>
									<th>认证状态</th>									
									<th>绑定手机</th>
									<th>积分</th>	
									<th>用户组</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<foreach name='member' item='v'>							
								<tr class="">
									<td>{$v.id}</td>
									<td>{$v.openid}</td>
									<td>{$v.username}</td>
									<td><img src="{$v.photo}" style="height:40px;" /></td>
									<td>{$v.regtime|date='Y-m-d H:i:s',###}</td>
									<td><switch name="v['state']" >
									<case value="0">未认证</case>
									<case value="1">已认证</case>
									<case value="2">锁定</case>
									</switch></td>
									<td>{$v.tel}</td>
									<td>{$v.integral}</td>									
									<td><if condition="$v['usertype'] eq 1">积分用户<else />付费用户</if></td>
									<td>
									<a href="{:U(MODULE_NAME.'/Member/updata',array(id=>$v['id']))}"><span class="btn btn-success btn-xs">详情</span></a>
									</td>
								</tr>
								</foreach>
								</tbody>								
								</table>
								<div class="form-group">
									<div class="col-lg-offset-6 col-lg-6" id="page">{$page}</div>
								</div>
							</div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
<include file="Public:bottom" />

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

</body>
</html>
