<include file="Public:common" />
<title>会员管理</title>
<!--file upload-->
<script type="text/javascript" src="__PUBLIC__/Js/cate.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userdefind.css" />
</head>

<body class="sticky-header">
<include file="Public:header" />
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                查看会员信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
				<li>
                    <a href="{:U('Member/index')}">会员列表</a>
                </li>
                <li class="active"> 会员信息 </li>
            </ul>
        </div>
        <!-- page heading end-->
		<!--body wrapper start-->
        <div class="wrapper">

            <div class="row">
                <div class="col-md-4">
				<foreach name="member" item="v">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="profile-pic text-center">
                                        <img alt="" src="{$v.photo}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <ul class="p-info">
                                        <li>
                                            <div class="title">昵称</div>
                                            <div class="desk">{$v.username}</div>
                                        </li>
                                        <li>
                                            <div class="title">姓名</div>
                                            <div class="desk">{$v.realname}</div>
                                        </li>
                                        <li>
                                            <div class="title">性别</div>
                                            <div class="desk"><if condition="$v['sex']">男<else />女</if></div>
                                        </li>
                                        <li>
                                            <div class="title">绑定电话</div>
                                            <div class="desk">{$v.tel}</div>
                                        </li>
										<li>
                                            <div class="title">QQ</div>
                                            <div class="desk">{$v.QQ}</div>
                                        </li>
										<li>
                                            <div class="title">E-mail</div>
                                            <div class="desk">{$v.email}</div>
                                        </li>
										<li>
                                            <div class="title">地址</div>
                                            <div class="desk">{$v.address}</div>
                                        </li>
                                        <li>
                                            <div class="title">openid</div>
                                            <div class="desk">{$v.openid}</div>
                                        </li>
										<li>
                                            <div class="title">认证状态</div>
                                            <div class="desk"><if condition="$v['state']">已认证<else />未认证</if></div>											
                                        </li>
										<li>
                                            <div class="title">用户组</div>
                                            <div class="desk"><if condition="$v['usertype']">付费用户<else />积分用户</if></div>
                                        </li>
										<li>
                                            <div class="title">邀请人ID</div>
                                            <div class="desk">{$v.yqrid}</div>
                                        </li>
										<li>
                                            <div class="title">注册时间</div>
                                            <div class="desk">{$v.regtime|date='Y-m-d H:i:s',###}</div>
                                        </li>
										<li>
                                            <div class="title">上次登录时间</div>
                                            <div class="desk"><if condition="$v['logintime']">{$v.logintime|date='Y-m-d H:i:s',###}<else />{$v.regtime|date='Y-m-d H:i:s',###}</if></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body p-states">
                                    <div class="summary pull-left">
                                        <h4><span>用户</span>积分</h4>
                                        <span>目前剩余积分</span>
                                        <h3>{$v.integral}</h3>
                                    </div>
                                    <div id="expense" class="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body p-states green-box">
                                    <div class="summary pull-left">
                                        <h4><span>分销</span>提成</h4>
                                        <span>目前剩余提成</span>
                                        <h3>￥ {$v.fx}</h3>
                                    </div>
                                    <div id="pro-refund" class="chart-bar"></div>
                                </div>
                            </div>
                        </div>                        
                    </div>
				</foreach>	
                </div>
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <header class="panel-heading">
                                    用户积分提成详情
                                    <span class="tools pull-right">
                                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                                        <a class="fa fa-times" href="javascript:;"></a>
                                     </span>
                                </header>
                                <div class="panel-body" style="height:900px; overflow-y:auto;">
                                    <ul class="activity-list">
									<foreach name="jf" item="j">
                                        <li>                                          
                                            <div class="activity-desk">
                                                <h5><if condition="$j['stutas']"><span class="label label-success">增加</span><else /><span class="label label-default">减少</span></if><span class="label label-primary">{$j.jf}</span><if condition="$j['gid']"><span class="label label-danger">提成</span><else /><span class="label label-warning">积分</span></if> <span>{$j.time|date='Y-m-d H:i:s',###}</span></h5>
                                                <p class="text-muted">{$j.beizhu}</p>                                                
                                            </div>
                                        </li>
									</foreach>                               
                                    </ul>
									<div class="col-lg-offset-6 col-lg-6" id="page">{$page}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--body wrapper end-->

<include file="Public:bottom" />
<script>var app="__ROOT__";</script>
<script type="text/javascript" src="__PUBLIC__/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/upload.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>

<!--pickers plugins-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__PUBLIC__/js/pickers-init.js"></script>


<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>

</body>
</html>
