<include file="Public:common" />
<title>会员管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userdefind.css" />
<link rel="stylesheet" href="__PUBLIC__/js/data-tables/DT_bootstrap.css" />
</head>

<body class="sticky-header">
<include file="Public:header" />
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                会员管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li class="active"> 会员管理 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                           会员管理
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-share" title="导出excel" href="{:U(MODULE_NAME.'/Member/daochu')}"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
								<div class="space15"></div>
								<table  class="display table table-bordered table-striped" id="editable-sample">
								
								<thead>								
								<tr role="row">
									<th>ID</th>
									<th>昵称</th>
									<th>头像</th>
									<th>姓名</th>
									<th>公司</th>
									<th>邀请人id</th>
									<th>最近登录</th>
									<th>认证状态</th>									
									<th>绑定手机</th>
									<th>积分</th>	
									<th>用户组</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								
								</tbody>								
								</table>
							</div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
<include file="Public:bottom" />

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/data-tables/DT_bootstrap.js"></script>
<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>
<script>
var url1="{:U(MODULE_NAME.'/Member/updata')}";
var url2="{:U('Member/del')}";
jQuery(document).ready(function() {
	$('#editable-sample').dataTable({
	"bServerSide": true,
	"bStateSave": true,
	"bPaginate": true, //是否分页
	"bAutoWidth": false,
	"bProcessing": true, //datatable获取数据时候是否显示正在处理提示信息。
	"iDisplayLength": 10, //每页显示10条记录
	"aaSorting": [[ 6, "desc" ]],
	'bFilter': true, //是否使用内置的过滤功能
	"sAjaxSource": "{:U(MODULE_NAME.'/Member/fpage')}",
	"aoColumns": [
		{"mData": "id","bSortable": true},
		{"mData": "username","bSortable": false,"bSearchable": true},
		{"mData": "photo","bSortable": false,"mRender": function(data){return "<img style='height:40px;' src='"+data+"'>";}},
		{"mData": "realname","bSortable": false,"bSearchable": true},
		{"mData": "company","bSortable": false,"bSearchable": true},
		{"mData": "yqrid","bSortable": true},
		{"mData": "logintimes","bSortable": true},
		{"mData": "state","bSortable": true,"mRender": function(data){if(data==0){return "未认证";}else{return "已认证";}}},
		{"mData": "tel","bSortable": false},
		{"mData": "integral","bSortable": true},
		{"mData": "usertype","bSortable": true,"mRender": function(data){if(data==0){return "积分用户";}else{return "付费用户";}}},
		{"mData": "id","bSortable": false,"mRender": function(data) {
				return "<a href='"+url1+"/id/"+ data +"'><span class='btn btn-success btn-xs'>修改</span></a>&nbsp;&nbsp;<a onclick='return confirm(`确定要删除吗？`)' href='"+url2+"/id/"+ data +"'><span class='btn btn-warning btn-xs'>删除</span>";
			}
		}
	],
	"aLengthMenu": [
				[10, 20, 50, -1],
				[10, 20, 50, "All"] // change per page values here
			],
	"sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
	"sPaginationType": "bootstrap",
	"oLanguage": {
		"sLengthMenu": "_MENU_ 条记录每页显示",
		"oPaginate": {
			"sPrevious": "上一页",
			"sNext": "下一页"
		}
	}
	});
});
</script>
</body>
</html>
