<include file="Public:common" />
<title>修改投票设置</title>
<!--file upload-->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script>
function deli (id) {
	var handleUrl = '{:U(MODULE_NAME."/Vote/deli")}'
	$.post(handleUrl,{id:id},function(data){
		if (data.status){
			$('#p_'+id).remove();
		}
	},'json');
}
function ans (id){
 var handleUrl2='{:U(MODULE_NAME."/Vote/ans")}';
 var content=document.getElementById('a_'+id).value;
 $.post(handleUrl2,{id:id,ans:content},function(data){
	if (data.status){
		alert('修改成功');
	}else{
		alert('修改失败');
	}
 },'json');
}
</script>
</head>

<body class="sticky-header">
<include file="Public:header" />
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                设置投票
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li class="active"> 修改投票 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            修改投票设置
							
							<span class="tools pull-right">
                                <a class="fa fa-rotate-left" href="javascript:history.go(-1)"> 返回</a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <form class="cmxform form-horizontal adminex-form" method="post" action="{:U(MODULE_NAME.'/Vote/updateHandle')}">
								<foreach name='vote' item='c'>
									<div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">标题</label>
                                        <div class="col-lg-2">
                                           <input type="text" class="form-control " name="remark" value="{$c.remark}">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">投票问题</label>
                                        <div class="col-lg-8">
                                            <textarea name="title" id="content">{$c.question}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">投票栏目</label>
                                        <div class="col-lg-2">
                                           <select name="cid" class="form-control input-sm m-bot15">
										    <foreach name='cate' item='v'>
												<option value="{$v.id}" <if condition="$c['cid'] eq $v['id']"> selected = "selected"</if>>{$v.name}</option>												
											</foreach>											
										   </select>
                                        </div>
                                    </div>
									<div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">投票类型</label>
                                        <div class="col-lg-8">
												<label class="checkbox-inline"><input type="radio" name="ismore"  value="0" <if condition="$c['ismore'] eq 0">checked="checked"</if>>
													单选													
												</label>
												<label class="checkbox-inline"><input type="radio" name="ismore"  value="1" <if condition="$c['ismore'] eq 1">checked="checked"</if>>
													多选
												</label>
												<label class="checkbox-inline"><input id="yc" type="radio" name="ismore"  value="2" <if condition="$c['ismore'] eq 2">checked="checked"</if>>
													简答
												</label>
                                        </div>
                                    </div>
									
                                    <div class="form-group ">
                                        <label for="agree" class="control-label col-lg-2 col-sm-3">排序</label>
                                        <div class="col-lg-2">
                                           <input type="text" class="form-control " name="sort" value="{$c.sort}">
										   <input type="hidden" name="vid" value="{$c.id}">
                                        </div>
                                    </div>
								
                                    <div class="form-group" id="da" <if condition="$c['ismore'] eq 2">style="display:none;"</if>>
									<label for="agree" class="control-label col-lg-2 col-sm-3">设置答案</label>
                                        <div class="col-lg-10" id="last">
										   <div class="form-group" ><label class="col-sm-6"><a class="btn btn-info" href="javascript:addAns()" >添加答案</a></label>(注:单选多选改简答请先删除答案)</div>
										   <foreach name='ans' item='a'>
											<div class="form-group" id="p_{$a.id}"><label class="col-sm-6"><input type="text" id="a_{$a.id}" class="form-control" name="{$a.id}" value="{$a.answer}"/></label>
											<label class="col-sm-2"><a class="btn btn-sm btn-success" href="javascript:void(0);" onclick="ans({$a.id});" >修改</a>  <a class="btn btn-sm btn-warning" href="javascript:void(0);" onclick="deli({$a.id});" >删除</a></label></div>
										   </foreach>
										</div>
									</div>
								</foreach>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">											
                                            <input class="btn btn-primary" type="submit" value="保&nbsp;&nbsp;存">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

<include file="Public:bottom" />

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>

<!--pickers plugins-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__PUBLIC__/js/pickers-init.js"></script>


<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>
<js file="__ROOT__/Data/ueditor/ueditor.config.js" />
<js file="__ROOT__/Data/ueditor/ueditor.all.min.js" />
<script type="text/javascript">
	window.UEDITOR_HOME_URL = "__ROOT__/Data/ueditor/";
	window.onload = function (){
	//window.UEDITOR_CONFIG.initialFrameWidth = 1000; 初始化编辑器宽度,默认1000
	window.UEDITOR_CONFIG.initialFrameHeight = 50; //初始化编辑器高度,默认320
		UE.getEditor('content',{ initialFrameWidth: null });
	}

$(document).ready(function(){ 
    bindListener();
})

function addAns(){
	$("#last").append('<div class="form-group" ><label class="col-sm-6"><input type="text" class="form-control" name="ans[]"/></label><label class="col-sm-2"><a class="btn btn-sm btn-warning" href="#" name="rmlink">删除</a></label></div>');      
    // 为新元素节点添加事件侦听器
    bindListener();
}
function bindListener(){
    $("a[name=rmlink]").unbind().click(function(){
    $(this).parent().parent().remove(); 
})
}

$(":radio[name='ismore']").click(function(){
    var index = $(":radio[name='ismore']").index($(this));
    if(index == 2) //选中第3个时，div隐藏
        $("#da").hide();
    else //当被选中的不是第2个时，div显示
        $("#da").show();
});
</script>
</body>
</html>
