<include file="public/header" />
<div class="main">
<div class="two">
	<form id="form1" name="form1" method="get" action="/index.php/Search/">
	<input name="str" type="text" value="请输入关键字" onfocus="if(value == defaultValue){value='';this.style.color='#000'}" onblur="if(!value){value = defaultValue;this.style.color='#999'}" id="SearchStr" size="10" />
	<input type="submit" name="button" id="button" value="搜索" />
	</form>
</div>
	<div class="menu"><i></i><span>{$title}</span></div>
	<div class="one">
	<fav id="2" limit="5">
		<div class="f5"><a href="{$url}">{$name}</a></div>
	</fav>	
	</div>
	<ul class="news">
	<foreach name="article" item="v">
	<li><div class="img">
	<img <if condition="$v['pic']">src="{$v.pic}"<else />src="__PUBLIC__/images/nopic.jpg"</if> /></div>
	<div class="zc">
		<h3><a href="{:U('/'.MODULE_NAME.'/article/shows',array('id'=>$v['id'],'spread'=>session('userID')))}">{$v.title|msubstr=###,0,15,'utf-8',false}</a></h3>
		<p>{$v.description}</p>
		<div class="db"><div>{$v.time|date='Y-m-d',###}&nbsp;&nbsp;&nbsp;&nbsp;({$v.click})</div><div class="jf">{$v.jf}积分</div></div>
	</div>
	</li>
	</foreach>
	</ul>
	<div class="page">{$page}</div>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>