<include file="public/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
<div class="main">
	<div class="m_ctt">
		<div class="newsshow_title">{$data.title}</div>
		<div class="newsshow_sm2"> </div>
		<div class="content">
		<if condition="$data['del'] eq 0">
		<p>项目进度:<b style="color:red"><switch name="data.jf">
				<case value="0">项目进行中</case>
				<case value="1">项目已完成</case>
				<case value="2">项目暂停</case>
				<case value="3">项目作废</case>
			</switch></b></p>
		</if>
		<p><a target="_blank" style="color:rgb(192, 0, 0);" href="http://wpa.qq.com/msgrd?v=3&uin={$data.author}&site=qq&menu=yes">点击联系专属客服</a></p>
			{$data.content}
		</div>
	</div>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>