/*inner*/
.m_ctt { margin:0 auto;width:96%;min-height:380px;line-height:28px;padding:2%;}
.newsshow_title { margin:0 auto;width:100%;min-height:30px; HEIGHT: auto !important; height:30px; overflow:visible;padding-top:10px;font-size:18px;font-weight:bold;text-align:center;}
.newsshow_sm { margin:0 auto;width:100%;height:30px;line-height:30px;text-align:center;border-bottom:1px #ddd dashed;font-size:12px;}
.newsshow_sm2 { margin:0 auto;width:100%;height:10px;line-height:10px;text-align:center;border-bottom:1px #ddd dashed;font-size:12px;}
.newsshow_ctt { margin:0 auto;padding:40px 20px 20px; margin:25px auto; overflow:hidden;line-height:28px;font-size:14px; border:#eee 1px solid; border-radius:5px;}

.text-input{display: block;
	width:90%;
    height: 20px;
    padding: 5px;
	margin:10px auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.contact-button-house{text-align:center;}
.contact-button-house .contactButton {width:100px; height:30px; margin:10px auto; border-radius:8px; color:#fff; background:#21ba45; border:none;}

.cpfl h3{height:36px; line-height:40px; text-align:center; background:#efefef;}
.ld-left{padding:10px 10px 0; display:flex; justify-content:space-around; flex-wrap:wrap; border-bottom:#efefef 1px solid;}
.ld-left .renwu{padding:5px 10px; margin-bottom:10px; border-radius:3px; border:#eee 1px solid;}
.ld-left .renwu h2{font-weight:500;}
.ld-left .current{border-color:#95c62b; background:#95c62b;}
.ld-left .current h2{color:#fff;}

.product{padding:10px 0; display:flex; justify-content:space-between; flex-wrap:wrap;}
.product li{display:flex; align-content:space-between; flex-wrap:wrap; width:48%; margin-bottom:15px; border:#eee 1px solid; border-radius:5px;}
.product li a{display:block;}
.product li img,.product li .zc{width:100%;}
.product li h3{padding:0 10px;line-height:24px;}
.product li .db{padding:0 10px 5px;}
.product li .db .jf{border:0;}
.product li .lll{padding-left:20px; background:url(../images/eye18.png) left center no-repeat; background-size:20px 18px;}

/*商品详情页*/
.shangp{padding:15px 10px; border-bottom:#eee 3px solid;}
.sku-name{font-size:16px;line-height:26px;color:#95c62b;}
.dt{line-height:22px; color:#F9B61F;}
.dtt{line-height:22px; color:#F63317;}
.shuliang{display:flex; justify-content:space-between; align-content:center;}
.shuliang div{display:flex; align-content:center; line-height:26px;}
.shuliang .addBtn{padding:0px 5px; font-size:18px;border-color:#F9B61F}
.min{color:#999; background:#fff;}.add{color:#fff;background:#F9B61F}
.shuliang .join-money{width:40px; height:22px; line-height:22px; font-size:16px; text-align:center; margin:0 3px; border-color:#F9B61F}