<include file="public/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
<div class="main">
	<div class="m_ctt">
		<div class="content">
		<p style="margin:50px auto 20px;font-size:18px;text-align:center;">综合评分:<span style="color:#FF0000">{$f}分</span></p>
		<p style="font-size:16px;text-align:center;">感谢您的支持！</p>
		<p style="font-size:16px;text-align:center;">把评分结果分析到朋友圈，可获得积分奖励。</p>
		</div>
	</div>
</div>
<!--end main-->
<include file="public/bottom" />
</body>
</html>