<!DOCTYPE HTML>
<html>
<head>
<title>积分记录</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale= 1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/member/css/head.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/member/css/styles.min.css"/>
</head>
<body>
<!-- html code start -->
<main class="jumbotron-main">
    <section class="masthead-section no-padding-layer no-border-layer">
        <input type="hidden" value="0" id="fromzdh"/>

        <div class="masthead-login">
            <figure class="masthead-figure">
				<a href="/index.php/Index/member/index/spread/{$Think.session.userID}"><img src="{$Think.session.userHeadimgurl}" width="64"/></a>
            </figure>
            <div class="masthead-caption">
                <h3 class="masthead-caption-title line-ellipsis">
                <a href="/index.php/Index/member/index/spread/{$Think.session.userID}">{$Think.session.userNickname}</a>
                                </h3>

                <p class="masthead-wallet" data-space="&nbsp;" id="underName">会员积分:{$member.integral}<!--<span style="color:red;margin-left:20px;">分销提成：{$member.fx}元</span>--></p>

                <p class="masthead-setting"><if condition="!$member['state']"><span style="color:red;">认证送积分</span>&nbsp;-->&nbsp;</if><a href="/index.php/Index/member/person/">完善资料<i class="icon icon-right"></i></a></p>
            </div>
        </div>
    </section>

  
    <section class="service-section normal-layer no-padding-layer i-border-image">
        <ul class="feature-list interaction-list">
            <li class="feature-item">                
                <p class="inner-bar"><span class="order-text">我的积分<em id="orderInfo"></em></span><span class="tip-right text-success"><b>{$member.integral}</b></span></p>
            </li>
			<foreach name="jf" item="v">
			<li>
				<div class="padding5">
				<p><b><if condition="$v['stutas']"><span class="green">增加</span><else /><span class="red">消费</span></if></b>&nbsp;积分：{$v.jf}<span class="fr">{$v.time|date='Y-m-d H:i:s',###}</span></p>
				<p><b>详细描述</b><br />{$v.beizhu}</p>
				</div>
			</li>
			</foreach>	
        </ul>
		<div class="page">{$page}</div>
    </section>

</main>
<include file="public/bottom" />
</body>
</html>
