<!DOCTYPE HTML>
<html>
<head>
<title>会员个人中心</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width,initial-scale= 1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/member/css/head.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/member/css/styles.min.css"/>
</head>
<body>
<!-- html code start -->
<main class="jumbotron-main">
    <section class="masthead-section no-padding-layer no-border-layer">
        <input type="hidden" value="0" id="fromzdh"/>

        <div class="masthead-login">
            <figure class="masthead-figure">
				<a href="/index.php/Index/member/index/spread/{$Think.session.userID}"><img src="{$Think.session.userHeadimgurl}" width="64"/></a>
            </figure>
            <div class="masthead-caption">
                <h3 class="masthead-caption-title line-ellipsis">
                <a href="/index.php/Index/member/index/spread/{$Think.session.userID}">{$Think.session.userNickname}</a>
                                </h3>

                <p class="masthead-wallet" data-space="&nbsp;" id="underName">会员积分:{$member.integral}<!--<span style="color:red;margin-left:20px;">分销提成：{$member.fx}元</span>--></p>

                <p class="masthead-setting"><if condition="!$member['state']"><span style="color:red;">认证送积分</span>&nbsp;-->&nbsp;</if><a href="/index.php/Index/member/person/">完善资料<i class="icon icon-right"></i></a></p>
            </div>
        </div>
    </section>

  
    <section class="service-section normal-layer no-padding-layer i-border-image">
        <ul class="feature-list interaction-list">
            <li class="feature-item">                
                <p class="inner-bar"><span class="order-text">实名认证<em id="orderInfo"></em></span><span class="tip-right text-gray"><span style="color:red;">*</span>为必填项</span></p>
            </li>
			<form class="form">
			<li class="padding5"><label><span style="color:red;">*</span>姓名:</label><input name="realname" type="text" id="inpt1" value="{$member.realname}" /></li>
			<li class="padding5"><label><span style="color:red;">*</span>公司:</label><input name="company" class="l80" type="text" id="inpt7" value="{$member.company}" /></li>
			<li class="padding5"><label>职务:</label><input name="position" type="text" id="inpt8" value="{$member.position}" /></li>
			<li class="padding5"><label>生日:</label><input name="birthday" type="text" id="inpt9" value="{$member.birthday}" /></li>
			<li class="padding5"><label><span style="color:red;">*</span>手机:</label><input name="tel" type="text" id="inpt2" value="{$member.tel}" /><span id="label6"></span>
			<input type="button" class="hqyzm" id="hq" value="获取验证码" onclick="yzm()" /></li>
			<li class="padding5"><label><span style="color:red;">*</span>验证码:</label><input name="code" type="text" id="inpt3" value="" /><span id="label7"></span></li>
			<li class="padding5"><label>地址:</label><input name="address" class="l80" type="text" id="inpt4" value="{$member.address}" /></li>
			<li class="padding5"><label>QQ:</label><input name="QQ" class="l80" type="text" id="inpt5" value="{$member.qq}" /></li>
			<li class="padding5"><label>email:</label><input name="email" class="l80" type="text" id="inpt6" value="{$member.email}" /></li>			
			<li class="padding5"><input type="button" class="mfsj"  onclick="send()" value="保存"></li>
			</form>			
        </ul>        
    </section>

</main>
<include file="public/bottom" />
<script type="text/javascript" src="__PUBLIC__/JS/check.js"></script>
</body>
</html>
