<include file="public/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
<script src="__PUBLIC__/js/comments.js"></script>
<script src="__PUBLIC__/js/fenye.js"></script>
<script src="__PUBLIC__/js/setfenye.js"></script>
<!-- banner S -->
<div class="banner">
	
	<div class="bd">
		<ul>			
			<foreach name="img" item="v">			
			<li style="background:url({$v.img}) #BCE0FF center 0 no-repeat;"><a href="javascript:;"></a></li>
			</foreach>
			<li style="background:url({$timg}) #BCE0FF center 0 no-repeat;"><a href="javascript:;"></a></li>
		</ul>
	</div>

	<div class="hd"><ul></ul></div>
</div>

<script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });</script>
<!-- banner E -->
<div class="shangp">
	<div class="sku-name">{$title}</div>
	<div class="dt">单价&nbsp;&nbsp;￥<span>{$g.price}</span></div>
	<if condition="$g[isdis]"><div class="dtt">优惠价&nbsp;&nbsp;￥<span>{$g.memprice}</span></div></if>
	<div class="shuliang"><div>数量</div>
	<div><input class="addBtn min" type="button" value="-" /><input class="join-money" type="text" value="1" readonly><input class="addBtn add" type="button" value="+" /></div>
	<script>
	var t = $(".join-money");
	$(function(){
	$(".add").click(function() {
		t.val(parseInt(t.val()) + 1); //点击加号输入框数值加1
	});
	$(".min").click(function(){
		t.val(parseInt(t.val())-1); //点击减号输入框数值减1
		if(t.val()<=0){
			t.val(parseInt(t.val())+1); //最小值为1
		}
	});
	});
	</script>
	</div>
</div>
<!-- Tab切换 S -->
	<div class="slideTxtBox">
		<div class="hd">
			<ul>
				<li class="hover" id="one40" onclick="setTab(&#39;one&#39;,40,42)"><a href="#">详情</a></li>
				<li id="one41" onclick="setTab(&#39;one&#39;,41,42)"><a href="#">评论<small style="font-size:12px;">(<if condition="$counts">{$counts}<else />0</if>)</small></a></li>
				<li id="one42" onclick="setTab(&#39;one&#39;,42,42)"><a href="#">已购买<small style="font-size:12px;">(<if condition="$gmc">{$gmc}<else />0</if>)</small></a></li>
			</ul>
		</div>
		<div class="bd">
			<ul id="con_one_40">
			<div class="content">{$content}</div>	
			</ul>
			<ul id="con_one_41" style="display: none">
			<div class="panel-heading">
				<h3 class="panel-title">
					评论列表
				</h3>
			</div>
			<div class="panel-body">
				<form id="ping" style="margin-bottom:20px;">
				<input type="hidden" name="fz" value="{:CONTROLLER_NAME}_{$sid}" id="fz">
				<div><textarea type="textarea" rows="3" placeholder="还可以输入140个字" class="form-control" id="nei"></textarea></div>
				<span class="comment_tip" id="comment_tip" data-top="11" data-foot="36"></span>
				<div style="margin-top: 7px;"><button type="button" class="btn ant-btn" onclick="subcomment()"><i class="glyphicon glyphicon-send"></i><span style="margin-left:10px;">发布评论</span></button></div>
				</form>
				<input type='hidden' id='current_page' />
				<input type='hidden' id='show_per_page' />
				<div id="content">
				<foreach name="ping" item="v" key="k">
				<div class="story">
				<p class="story_t"><span><img src="{$v.photo}" width="30" />&nbsp;{$v.username}</span><span class="time">{$v.time|date='Y-m-d H:i:s',###}</span></p>
				<p class="story_m">{$v.neir}</p> 
				<foreach name="v.hf" item="h">
				<p class="story_hf">
				<span>回复：</span>{$h.neir}</p>
				</foreach>
				</div>
				</foreach>
				</div>
				<div id="page_navigation"></div>
			</div>
			</ul>
			<ul id="con_one_42" style="display: none" class="news">
			<foreach name="xg" item="x">
			<li><div class="img">
			<img <if condition="$x['pic']">src="{$x.pic}"<else />src="__PUBLIC__/images/nopic.jpg"</if> /></div>
			<div class="zc">
				<h3><a href="{:U('/'.MODULE_NAME.'/ashow_'.$x['id'])}">{$x.title|msubstr=###,0,15,'utf-8',false}</a></h3>
				<p>{$x.description}</p>
				<div class="db"><div>{$x.time|date='Y-m-d',###}&nbsp;&nbsp;&nbsp;&nbsp;({$x.click})</div><div class="jf">{$x.jf}积分</div></div>
			</div>
			</li>
			</foreach>				
			</ul>
		</div>
	</div>
	<script language="javascript">
	<!--
	function setTab(name,cursel,n){
	for(i=40;i<=n;i++){
	var menu=document.getElementById(name+i);
	var con=document.getElementById("con_"+name+"_"+i);
	menu.className=i==cursel?"hover":"";
	con.style.display=i==cursel?"block":"none";
	}
	}
	//-->
	</script>
	<!-- Tab切换 E -->
<!--end main-->
<div style="height:56px;"></div>
<div class="bottom" style="height:50px;border:0;">
	<div class="gw jia">
	<a href="/index.php/Index/index/index/spread/{$Think.session.userID}">
	加入购物车
	</a>
	</div>
	<div class="gw">
	<a href="/index.php/Index/article/index/id/2/spread/{$Think.session.userID}">
	<p>立即购买</p>
	</a>
	</div>
</div>
</body>
</html>